body {
    background-color: #f4f7fa;
}

.header {
    background: white;
    padding: 20px;
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 25px    ;
}

.stat-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.device-table {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.status-online {
    padding: 5px 12px;
    border-radius: 20px;
    background: #d1fae5;
    color: #065f46;
    font-weight: 600;
}

.table td {
    vertical-align: middle;
} 

.refresh-badge {
    font-size: 14px;
}

body {
        background-color: #f4f7fa;
    }

    .header {
        background: white;
        padding: 20px;
        border-bottom: 1px solid #e5e7eb;
        margin-bottom: 25px;
    }

    .stat-card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    }
    
    #deviceCount {
        color: green;
        font-weight: bold;
    }

    .device-table {
        background: white;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    }

    .status-online {
        padding: 5px 12px;
        border-radius: 20px;
        background: #d1fae5;
        color: #065f46;
        font-weight: 600;
    }

    .table td {
        vertical-align: middle;
    }

    .refresh-badge {
        font-size: 14px;
    }
